@charset 'UTF-8';
.slick-loading .slick-list {
    background: #fff url(./ajax-loader.gif) center center no-repeat
}

@font-face {
    font-family: slick;
    font-weight: 400;
    font-style: normal;
    src: url(./fonts/slick.eot);
    src: url(./fonts/slick.eot?#iefix) format('embedded-opentype'), url(./fonts/slick.woff) format('woff'), url(./fonts/slick.ttf) format('truetype'), url(./fonts/slick.svg#slick) format('svg')
}

.slick-next,
.slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 45%;
    display: block;
    width: 47px;
    height: 47px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0;
    background: 0 0;
    z-index: 1;
}

.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
    color: transparent;
    outline: 0;
    background: 0 0
}

.slick-next:focus:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-prev:hover:before {
    opacity: 1
}

.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
    opacity: .25
}

.slick-prev:before {
     content: "";
  position: absolute;
  margin:-24px;
  width: 47px;
  height: 47px;
  opacity: .75;
  line-height: 1;
  background-image: url(../images/icons/arrow-left.png);
}
.slick-next:before {
    content: "";
  position: absolute;
  margin:-24px;
  width: 47px;
  height: 47px;
  opacity: .75;
  line-height: 1;
  background-image: url(../images/icons/arrow-right.png);
}

.slick-prev {
    left: 95px
}

[dir=rtl] .slick-prev {
    right: 125px;
    left: auto
}


.slick-next {
    right: 95px
}

[dir=rtl] .slick-next {
    right: auto;
    left: -25px
}

.slick-dots {
    position: absolute;
    bottom: 10px;
    display: block;
    width: 300px;
    right: 90px;
    margin: 0;
    list-style: none;
    text-align: right;
    white-space: nowrap;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 24px;
    height: 9px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: 0 0;
}

.slick-dots li button:focus,
.slick-dots li button:hover {
    outline: 0
}

.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
    background:var(--purple);
}

.slick-dots li button:before {
    font-family: slick;
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 9px;
    content: '';
    text-align: center;
    opacity: 1;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #ebebeb;
    transition: .24s;
}

.slick-dots li.slick-active button:before {

  background: var(--purple);
}